{% extends "base.html" %}

{% block header %}
<form action='/ngrams' method='get'>
    <input type=text name=query value='{{query}}' />
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
{% endblock %}

{% block content %}
<script src="static/uPlot.iife.js"></script>
<script>
    console.log('test');
    alert('');
width = 800; //document.querySelector("main").offsetWidth;
height = 400; //width/3;
let data = [
    [{%for val in x%} {{val}}, {%endfor%}],
    {% for y in ys %} [{% for val in y%}{{val}},{% endfor %}],{% endfor %}
];
let opts = {
  id: "chart1",
  class: "my-chart",
  width: width,
  height: height,
  series: [
    {},
      {% for term,color in terms %}
    {
      // initial toggled state (optional)
      show: true,

      spanGaps: false,

      // in-legend display
      label: "{{term}}",

      // series style
            stroke: "{{color}}",
      width: 1,
      drawStyle: 0,
      lineInterpolation: 1,
    },
      {% endfor %}
  ],
  hooks: {
    init: [
        uplot => {
          console.log("Fetching data for full range");
        }
      ],
    setSelect: [
      uplot => {
        let min = u.posToVal(u.select.left, 'x');
        let max = u.posToVal(u.select.left + u.select.width, 'x');
        console.log("Fetching data for range...", {min, max});
      }
    }
};

let uplot = new uPlot(opts, data, document.querySelector("main div.box"));
</script>
{% endblock %}


